<div class="columns is-centered">
  <div class="column is-half-tablet is-one-third-desktop">
    <div class="box">
      <%= render "shared/page_header",
        title: "Sign in",
        subtitle: "Admin access is restricted." %>

      <% if flash[:alert].present? %>
        <article class="message is-danger">
          <div class="message-body">
            <%= flash[:alert] %>
          </div>
        </article>
      <% end %>

      <%= form_with url: sign_in_path, method: :post, local: true do %>
        <div class="field">
          <label class="label">Username</label>
          <div class="control">
            <%= text_field_tag :username, params[:username], autofocus: true, class: "input" %>
          </div>
        </div>

        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <%= password_field_tag :password, nil, class: "input" %>
          </div>
        </div>

        <div class="field is-grouped">
          <%= submit_tag "Sign in", class: "button is-ruby" %>
          <%= link_to "Back", root_path, class: "button is-text" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
