<nav class="navbar is-sticky has-shadow" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="<%= root_path %>">
        <%= image_tag "ruby.svg", alt: "Ruby", style: "height: 28px; width: 28px;" %>
        <div class="ml-2">
          <p class="has-text-weight-semibold">VulnSentry</p>
          <p class="is-size-7 has-text-grey">Bundled gem security PR helper</p>
        </div>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        <%= link_to "About", about_path, class: "navbar-item" %>
        <% if admin_signed_in? %>
          <%= link_to "Admin", admin_root_path, class: "navbar-item" %>
        <% else %>
          <%= link_to "Sign in", sign_in_path, class: "navbar-item" %>
        <% end %>
        <%= link_to "GitHub (dan1d)", "https://github.com/dan1d", target: "_blank", rel: "noopener", class: "navbar-item" %>
        <%= link_to "ruby/ruby", "https://github.com/ruby/ruby", target: "_blank", rel: "noopener", class: "navbar-item" %>
      </div>
    </div>
  </div>
</nav>
