<div class="content">
  <div class="box">
    <%= render "shared/page_header",
      title: "Merged security PRs",
      subtitle: "This dashboard lists merged PRs created by this app (tracked in the database)." %>
  </div>

  <% if @merged_prs.any? %>
    <%= render "shared/box_section", title: "Latest merged PRs" do %>
      <% @merged_prs.each_with_index do |pr, index| %>
        <%= render "shared/pr_card", pr: pr %>
        <% unless index == @merged_prs.size - 1 %>
          <hr>
        <% end %>
      <% end %>
    <% end %>

    <%= render "shared/pagination", collection: @merged_prs, per_page_options: [5, 10, 25, 50] %>
  <% else %>
    <div class="box">
      <%= render "shared/empty_state",
        message: "No merged PRs tracked yet. When a PR is created and later synced as merged, it will show up here." do %>
        <%= link_to "Open admin dashboard", admin_root_path, class: "button is-ruby" %>
        <%= link_to "View GitHub profile", "https://github.com/dan1d", target: "_blank", rel: "noopener", class: "button is-light" %>
      <% end %>
    </div>
  <% end %>
</div>
