<%= render "admin/shared/nav" %>

<section class="section">
  <div class="container">
    <%= render "shared/page_header",
      title: "Advisories",
      subtitle: "Browse ingested advisories (GHSA/OSV), enriched with ruby-lang when available." %>

    <%= render layout: "shared/filter_form", locals: { url: admin_advisories_path, clear_path: admin_advisories_path } do %>
      <%= render "shared/filter_field", label: "Search", name: :q, value: params[:q], placeholder: "fingerprint, URL, CVE, gem...", column_class: "column is-4" %>
      <%= render "shared/filter_field", label: "Source", name: :source, value: params[:source], type: :select, options: Advisory::SOURCES %>
      <%= render "shared/filter_field", label: "Gem", name: :gem_name, value: params[:gem_name] %>
    <% end %>

    <div class="box">
      <table class="table is-fullwidth is-hoverable">
        <thead>
          <tr>
            <th>Gem</th>
            <th>CVE</th>
            <th>Source</th>
            <th>Fingerprint</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @advisories.each do |a| %>
            <tr>
              <td><%= a.gem_name %></td>
              <td class="is-family-monospace"><%= a.cve.presence || "-" %></td>
              <td><%= a.source %></td>
              <td class="is-family-monospace has-text-overflow-ellipsis" style="max-width: 20rem;"><%= a.fingerprint %></td>
              <td class="has-text-right">
                <%= link_to "View", admin_advisory_path(a), class: "button is-small is-link is-light" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <%= render "shared/pagination", collection: @advisories %>
  </div>
</section>
