<%= render "admin/shared/nav" %>

<section class="section">
  <div class="container is-max-desktop">
    <%= render "shared/page_header",
      title: "Edit branch",
      subtitle: @branch_target.name,
      back_path: admin_branch_targets_path %>

    <div class="box">
      <%= form_with model: @branch_target, url: admin_branch_target_path(@branch_target), method: :patch do |f| %>
        <div class="field">
          <label class="checkbox">
            <%= f.check_box :enabled %>
            Enabled
          </label>
        </div>

        <div class="field">
          <%= f.label :maintenance_status, class: "label" %>
          <div class="control">
            <%= f.select :maintenance_status, BranchTarget::MAINTENANCE_STATUSES, {}, class: "input" %>
          </div>
        </div>

        <div class="field is-grouped mt-5">
          <%= f.submit "Save", class: "button is-ruby" %>
          <%= link_to "Back", admin_branch_targets_path, class: "button is-light" %>
        </div>
      <% end %>
    </div>
  </div>
</section>
