<%= render "admin/shared/nav" %>

<section class="section">
  <div class="container">
    <div class="level">
      <div class="level-left">
        <%= render "shared/page_header",
          title: "Branch targets",
          subtitle: "Enable/disable supported branches." %>
      </div>
      <div class="level-right">
        <%= button_to "Refresh from ruby-lang.org",
              refresh_branches_admin_settings_path,
              method: :post,
              class: "button is-info",
              data: { turbo_confirm: "This will fetch the latest branch statuses from ruby-lang.org and mark old branches as EOL. Continue?" } %>
      </div>
    </div>

    <%= render layout: "shared/filter_form", locals: { url: admin_branch_targets_path, clear_path: admin_branch_targets_path } do %>
      <%= render "shared/filter_field", label: "Enabled", name: :enabled, value: params[:enabled], type: :select, options: [["true", "true"], ["false", "false"]] %>
      <%= render "shared/filter_field", label: "Maintenance status", name: :maintenance_status, value: params[:maintenance_status], type: :select, options: BranchTarget::MAINTENANCE_STATUSES %>
    <% end %>

    <div class="box">
      <table class="table is-fullwidth is-hoverable">
        <thead>
          <tr>
            <th>Branch</th>
            <th>Status</th>
            <th>Enabled</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @branch_targets.each do |bt| %>
            <tr>
              <td class="is-family-monospace"><%= bt.name %></td>
              <td><%= bt.maintenance_status %></td>
              <td><%= render "shared/status_tag", status: bt.enabled?.to_s, size: "small" %></td>
              <td class="has-text-right">
                <%= link_to "Edit", edit_admin_branch_target_path(bt), class: "button is-small is-link is-light" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <%= render "shared/pagination", collection: @branch_targets %>
  </div>
</section>
