<% content_for :skip_main_navbar, true %>

<nav class="navbar is-sticky has-shadow" role="navigation" aria-label="admin navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="<%= root_path %>">
        <%= image_tag "ruby.svg", alt: "Ruby", style: "height: 24px; width: 24px;" %>
      </a>
      <a class="navbar-item has-text-weight-semibold" href="<%= admin_root_path %>">
        VulnSentry Admin
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <%= link_to "Branches", admin_branch_targets_path, class: "navbar-item" %>
        <%= link_to "Candidates", admin_candidate_bumps_path, class: "navbar-item" %>
        <%= link_to "Advisories", admin_advisories_path, class: "navbar-item" %>
        <%= link_to "PRs", admin_pull_requests_path, class: "navbar-item" %>
        <%= link_to "Events", admin_system_events_path, class: "navbar-item" %>
        <%= link_to "Settings", admin_settings_path, class: "navbar-item" %>
      </div>

      <div class="navbar-end">
        <%= link_to "Home", root_path, class: "navbar-item" %>
        <%= button_to "Logout", logout_path, method: :delete, class: "button is-small is-ruby", form: { class: "navbar-item" } %>
      </div>
    </div>
  </div>
</nav>
